<!-- Footer -->
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container text-center">

        <h5 class="mb-2">Centro de Estética "Shirley Buenaño"</h5>

        <p class="mb-1">
            Belleza, cuidado y bienestar en un solo lugar 
        </p>

        <p class="mb-1">
            📍 Machala - Ecuador
        </p>

        <p class="mb-3">
            📞 0999999999
        </p>

        <small>
            © 2026 Todos los derechos reservados
        </small>

    </div>
</footer>